---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: "{{ ingress_name }}"
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: "{{ cert_issuer }}"
spec:
  rules:
    - host: "api.{{ domain }}"
      http:
        paths:
          - backend:
              serviceName: core
              servicePort: 80
            path: "{{ core_path }}"
    - host: "api.{{ domain }}"
      http:
        paths:
          - backend:
              serviceName: kanban
              servicePort: 80
            path: "{{ kanban_path }}"
    - host: "{{ admin_path }}.{{ domain }}"
      http:
        paths:
          - backend:
              serviceName: admin
              servicePort: 80
            path: /
  tls:
    - hosts:
        - "{{ domain }}"
        - "*.{{ domain }}"
      secretName: "{{ domain }}"
